body {
    background-color: rgb(70, 70, 70);
    height: 100%;
    margin: 0;
}


.anchor {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}


#nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}


ul {
    list-style-type: none;
    width: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 22px 24px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: rgb(51, 169, 199);
}


#page-title {
    display: none; /* Hiding while we try hero text as alternative */
    float: left;
    font-size: 1em;
    font-weight: bold;
}


#header-img {
    background-image: url(img/banner-agave.jpg);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 23em;
}


.about {
    width: 60%;
    height: 90%;
    background-color: rgb(26, 26, 26);
    font-size: 2em;
    margin: auto;
    color: grey;
    padding-top: 0.08em;
    padding-left: 0.5em;
    padding-right: 0.4em;
    padding-bottom: 0.08em;
    box-shadow: 1px 5px 10px 1px rgba(0,0,0,0.55);
}


.hero-text {
    z-index: 1;
    display: grid;
    grid-auto-rows: auto;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
    text-shadow: 3px 3px 8px rgb(0, 0, 0),
                -3px -3px 8px rgb(0, 0, 0);
}


#plants-quote {
    text-align: center;
    font-style: italic;
    font-size: 0.9em;
}


.product-cards {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    width: 60%;
    height: 90%;
    background-color: rgb(26, 26, 26);
    font-size: 2em;
    margin: auto;
    color: grey;
    padding-top: 0.7em;
    padding-left: 0.5em;
    padding-right: 0.4em;
    padding-bottom: 0.7em;
    box-shadow: 1px 5px 10px 1px rgba(0,0,0,0.55);
}


.card {
    color: black;
    display: grid;
    grid-row-gap: 0.3em;
}


.card h2 {
    font-size: 1em;
    text-align: center;
    margin-top: 0em;
}


.card p {
    text-align: center;
    color: rgb(20, 124, 63);
    font-weight: bold;
    text-shadow: 0px 0px 0px rgb(0, 0, 0);
}


#product-img {
    position: relative;
    float: left;
    width:  100%;
    height: 190px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}


#packages {
    width: 60%;
    height: 100%;
    background-color: rgb(26, 26, 26);
    font-size: 2em;
    margin: auto;
    color: grey;
    padding-top: 0.7em;
    padding-left: 0.5em;
    padding-right: 0.4em;
    padding-bottom: 0.7em;
    box-shadow: 1px 5px 10px 1px rgba(0,0,0,0.55);
    text-align: center;
    display: grid;
    grid-row-gap: 0.3em;
}


#packages-img {
    position: relative;
    float: left;
    width:  100%;
    height: 300px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}


#packages-text {
    background-color: rgb(223, 223, 223);
    color: black;
}

#packages-text h3 {
    color: rgb(20, 124, 63);
    text-shadow: 0px 0px 0px rgb(0, 0, 0);
}


#plant-text-div {
    background-color: rgb(223, 223, 223);
}


#video {
    width: 50%;
    height: 35em;
    display: block;
    margin: 0 auto;
}


.form-div {
    width: 60%;
    height: 100%;
    background-color: rgb(26, 26, 26);
    font-size: 2em;
    margin: auto;
    color: grey;
    padding-top: 0.7em;
    padding-left: 0.5em;
    padding-right: 0.4em;
    padding-bottom: 0.7em;
    box-shadow: 1px 5px 10px 1px rgba(0,0,0,0.55);
    text-align: center;
    display: grid;
    grid-row-gap: 0.3em;
}


#form {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 1em;
}


#form-labels {
    text-align: right;
}


#form-fields {
    text-align: left;
    padding-left: 0.5em;
}


input {
    font-size: 0.6em;
}


#form-seperator {
    width: 60%;
}


#name {
    width: 15em;
}


#email {
    width: 15em;
}


#request {
    height: 5em;
    width: 15em;
}


#submit {
    grid-column: 1/3;
    width: 5em;
    margin-left: auto;
    margin-right: auto;
}


/* Begin formatting for mobile devices */

@media (max-width: 900px) {
    
    
    #page-title {
        display: none;
    }
    
    
    .hero-text {
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        width: 70%;
        font-size: 1em;
        text-shadow: 3px 3px 8px rgb(0, 0, 0),
                    -3px -3px 8px rgb(0, 0, 0);
    }


    .about {
        width: 90%;
        font-size: 1.5em;
    }


    .product-cards {
        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 2em;
        width: 80%;
    }


    #product-image {
        height: auto
    }


    .card h2 {
        font-size: 0.9em;
    }


    #packages {
        width: 80%;
    }


    #packages-text p {
        font-size: 0.7em;
    }

   
    #video {
        width: 90%;
        height: 15em;
        display: block;
        margin: 0 auto;
    }


    input {
        font-size: 0.5em;
    }


    .form-div {
        width: 80%;
    }


    li a {
        padding: 22px 12px;
    }
}